* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #0000FF; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav {
    margin: 8px 0;
  }

  h2 {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    position: relative;
    text-align: center;
   
  }
  header a {
    text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: #008000;
    color: #0000FF;
    border-radius: 20px;
    text-shadow: none;
  }

img {
    position: center;
    border-radius: 10%;
    max-width: 400px;
    max-height: 400px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.intro img {
  width: 150%;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);    

}

.intro {
    text-align: center;
}
  .flex-row {
    display: inline-block;
  }

 .run-buddy {
    margin: 0;
    background: #008000;
    flex: 1;
  }
  
  .run-buddy img {
    width: 100%;
  }
  
  .run-buddy-bio {
    padding: 25px;
    line-height: 1.3;
  }
  
  .run-buddy-bio h3 {
    font-size: 28px;
    text-align: center;
  }
  
  .run-buddy-bio h4 {
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 15px;
  }
  
  .run-buddy h4 {
    font-size: 17px;
   
  }
  
  .run-buddies {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 70%;
  }
  
  footer {
    background: #008000;
    width: 100%;
    font-weight: bold;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0%;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
    header nav ul li a {
      font-size: 20px;
    }
    footer h2, footer div {
      text-align: center;
      width: 100%;
    } 
    .run-buddy, .about-me {
      text-align: center;
      flex: 0 70%;
      width: 100%;
    }
    .about-me {
        text-align: start;
    }

    .section-title {
      width: 80%;
    }
    img {
        position: sticky;
    }
  }
  
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
      header {
        padding-bottom: 0%;
        justify-content: center;
        position: relative;
      }
      header h1 {
        width: 100%;
        text-align: center;
      }
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
      header nav ul li a {
        font-size: 30px;
      }
      img {
        position: sticky;
    }
   
  }
  
  
  @media screen and (max-width: 575px) {
    .section-title {
      width: 95%;
    }
    .header {
      width: 100%;
    }
    .about-me, .run-buddies {
      flex: 0 100%;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    img {
        position: sticky;
    }
}
